#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf


# Use bd merge for beads JSONL files
.beads/beads.jsonl merge=beads
